################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Calculator/.vs/Calculator
/Calculator/Calculator.vcxproj.user
/Calculator/Calculator.vcxproj.filters
/Calculator/Calculator.vcxproj
/Calculator/Calculator.sln
